Repository kalyano/circle-ci-monorepo-test: changes, and which CircleCI parameters are due for each by the changed paths.
All: project1, project2, shared

Update continue_config.yml
  .circleci/continue_config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

Update test.html
  project1/test.html
Due: project1

Update test2.html
  project2/test2.html
Due: project2

Update shared.html
  shared/shared.html
Due: shared

Create README.md
  README.md
Due: none

Path conditions:
  project1: any of: project1/.*
  project2: any of: project2/.*
  shared: any of: shared/.*
